<form action="{{ url_for("projectinput")}}" method="post">
<label for="orgname">What is your organisation called?</label><br>
<input type="text" id="orgname" name="orgname"><br>
<label for="orgpurpose">What is your organisations purpose?</label><br>
<input type="text" id="orgpurpose" name="orgpurpose"><br>
<label for="focusarea">Tell me about the area you want to focus on:</label><br>
<input type="text" id="focusarea" name="focusarea"><br>
<label for="problem">Tell me about the problem(s) you are trying to solve?</label><br>
<input type="text" id="problem" name="problem"><br>
<label for="questions">Imagine the data was a person blahblah etc what questions would you ask?</label><br>
<input type="text" id="questions" name="questions"><br>
<label for="knowledge">What knowledge would you like to gain after your meeting?</label><br>
<input type="text" id="knowledge" name="knowledge"><br>
<label for="actions">What sort of actions would you expect to take after the meeting, based on your discussion?</label><br>
<input type="text" id="actions" name="actions"><br>
<input type="submit" value="please and thanks">
</form>